body {
    font-size: 21px;
    font-weight: 500;
    font-family: 'Lora', serif;
}

h1, h2, h3, h4 {
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif
}

.pic {
    margin-bottom: 20px;
}