<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.1/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  {{ if and ($.IsNode) (eq $.Section "") }}
  {{ $img := "/img/banner.jpeg" }}
  {{ if isset .Params "featured_image" }}
  {{ $img = index .Params "featured_image" }}
  {{ end }}
  <div class="hero is-medium is-dark">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Hero Section</h1>
        <h2 class="subtitle">Basic Layout Skeleton using Bulma CSS Framework</h2>
      </div>
    </div>
  </div>
  {{ else }} 
  <nav class="navbar is-transparent">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ .Site.BaseURL }}">
        <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
          width="112" height="28">
      </a>
    </div>
  </nav>
  {{ end }}

  <div class="section">
    <div class="container main">
      {{ block "main" . }}{{ end }}
    </div>
  </div>

  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Footer Example</strong> Content goes here...
      </p>
    </div>
  </footer>

</body>

</html>