{{ define "main" }}
<div class="columns">
  <div class="column is-one-quarter">
    {{ .TableOfContents }}
  </div>
  <div class="column is-half content">
      <section>
          <h1>{{- .Title -}}</h1>
          {{ .Content }}
      </section>
  </div>
</div>
{{ end }}