<article class="media">
    <div class="media-left">
        {{ if isset .Params "featured_image" }}
        <figure class="image">
            {{ $image := resources.GetMatch (.Params.featured_image) }}
            {{ with $image }}
            {{ $img := .Fill "400x250 Smart jpg Lanczos q50" }}
            <img src="{{ $img.Permalink }}">
            {{ end }}
        </figure>
        {{ end }}
    </div>
    <div class="media-content">
        <div class="content">
            <p class="title is-4"><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></p>
            <p class="subtitle is-size-6 has-text-grey-light">
                <i class="far fa-clock"></i>&nbsp;Temps de lecture environ {{.ReadingTime}} min
            </p>
            <p>{{ .Summary }}</p>
        </div>
    </div>
</article>