{{ define "main" }}

<section class="section">
  <div class="container">
    <h1 class="title">Isolation</h1>
    <h2 class="subtitle">A simple container to divide your page into <strong>sections</strong>, like the one you're
      currently reading</h2>
    {{ range .Site.Taxonomies.categories.isolation }}
    {{ partial "list-element.html" . }}
    {{ end }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Modification</h1>
    <h2 class="subtitle">A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading</h2>
    {{ range .Site.Taxonomies.categories.modification }}
    {{ partial "list-element.html" . }}
    {{ end }}
  </div>
</section>

<section class="section">
  <div class="container">
    <h1 class="title">Electricité</h1>
    <h2 class="subtitle">A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading</h2>
    {{ range .Site.Taxonomies.categories.electricite }}
    {{ partial "list-element.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}